@import "node_modules/bootstrap/scss/bootstrap";

h1 {
	margin-bottom: 30px;
}

.container {
	margin-top: 30px;
}
ul {
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0;
}
li {
  position: relative;
  list-style-type: none;
  padding: 10px 20px;
  background: green;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
}
i {
  cursor: pointer;
  font-style: normal;
  font-size: 12px;
  margin-left: 20px;
  position: absolute;
  top: 25%;
  right: 20px;
}