doctype 5
html
	head
		title Modular javasctript tutorial
		link(rel='stylesheet', href="css/app.css") 
	
	body
		.container
			h1 Modular javasctript tutorial
			.row
				.col-6
					form
						.form-group
							input.form-control
						.form-group
							input.btn.btn-primary(type="submit", value="Добавить")


		script(src="js/app.js")