doctype 5
html
	head
		title Modular javasctript tutorial
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href="css/app.css")
	
	body
		.container
			h1 Modular javasctript tutorial
			form
				.row.form-group
					.col-8.col-md-4
						input.form-control
					.col-4col-md-2.pl-0
						button.btn.btn-primary.w-100(type="submit") Добавить


		script(src="js/app.js")